@using test.Models
@model SearchModel

@{
    ViewBag.Title = "Page Rank";
}

<div class="row">
    <div id="wrap">
        <div class="page-title">
            <h1>
                Page Rank
            </h1>
        </div>
        <div id="searchFormDiv" class="col-md-12">
            <div>
                <form class="searchform cf">
                    @Html.TextBox("searchText", null, new {@class = "searchText"})
                    <button type="submit">Search</button>

                    <br/>
                    <br/>

                    @Html.CheckBox("NumberOfKeywords", false, new {@class = "checkBox"})
                    @Html.LabelFor(m => m.NumberOfKeywords, "Number of Keyword Matches", new {@class = "checkBox"})
                    <br/>

                    @Html.CheckBox("LastUpdate", false, new {@class = "checkBox"})
                    @Html.LabelFor(m => m.LastUpdate, "Last Update", new {@class = "checkBox"})
                    <br/>

                    @Html.CheckBox("DomainAge", false, new {@class = "checkBox"})
                    @Html.LabelFor(m => m.DomainAge, "Domain Age", new {@class = "checkBox"})
                    <br/>

                    @Html.CheckBox("DomainExpiryDate", false, new {@class = "checkBox"})
                    @Html.LabelFor(m => m.DomainExpiryDate, "Domain Expiry Date", new {@class = "checkBox"})
                    <br/>

                    @Html.CheckBox("LoadingSpeed", false, new {@class = "checkBox"})
                    @Html.LabelFor(m => m.LoadingSpeed, "Loading Speed", new {@class = "checkBox"})
                    <br/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="results-div">
            @if (Model.Results != null && Model.Results.Any())
            {
                var i = 1;
                <table>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>
                                <h1>@i</h1>
                            </td>
                            <td>
                                <h4>@result.Title</h4>
                                <a href=@result.Link>@result.Link</a>
                                <p>@result.Snippet</p>
                            </td>
                        </tr>
                        {
                            i++;
                        }
                    }
                </table>
            }
        </div>
    </div>
</div>